.grocery-item {
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s linear;
  padding: 0.25rem 1rem;
  text-transform: capitalize;
  border-bottom: 1px solid #444;
  cursor: pointer;
}
.check {
  display: flex;
  width: 70%;
}

.checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid hsl(236, 9%, 61%);
  border-radius: 50%;
}
.checked {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    292deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(3, 1, 48, 1) 0%,
    rgba(179, 69, 251, 1) 0%,
    rgba(93, 138, 253, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  pointer-events: none;
}
.checked:d .checkbox img {
  margin: 0 auto;
  margin-left: 3px;
  width: 60%;
  height: 60%;
}

.title {
  margin-bottom: 0;
  letter-spacing: 2px;
  transition: all 0.3s linear;
  margin-left: 20px;
  position: relative;
}

.completed::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0%;
  width: 120%;
  height: 1px;
  background-color: hsl(236, 9%, 61%);
}
.completed {
  color: hsl(236, 9%, 61%);
}

.actions {
  padding: 0.2rem 0.1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}
.actions button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0 0.15rem;
}

.grocery-item:hover .actions {
  visibility: visible;
  opacity: 2;
}

@media (max-width: 500px) {
  .grocery-item {
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
  }
  .completed::before {
    top: 35%;
  }
}
